<div class="gallery">{% assign image_files = site.static_files | where: "gallery", true %}
    <ul>
        {% for myimage in image_files %}
        {% assign file_def = site.data.gallery[myimage.name]
        %}{% if file_def.title %}{% assign title = file_def.title %}{% else %}{% assign title = myimage.name %}{% endif
        %}{% if file_def.detail %}{% assign detail = file_def.detail %}{% else %}{% assign detail = "" %}{% endif
        %}<li>
            <div>
                <a href="{{ myimage.path }}" target="_blank">
                    <img style="width: 100px" src="{{ myimage.path }}" alt="{{ title }}">
                </a>
                <p>{{ title }}</p>
                <pre>{{ detail }}</pre>
            </div>
        </li>{% endfor %}
    </ul>
</div>