<div class="mylink">
    <a href="https://twitter.com/kouwtkz" target="to_twitter"><img
            src="/src/img/character/cott/Twitter_kouwtkz_200px.png" alt="twitter" /></a>
    <a href="https://www.pixiv.net/users/5577703" target="to_pixiv"><img
            src="/src/img/character/cott/pixiv_kouwtkz_200px.png" alt="pixiv" /></a>
    <a href="https://www.youtube.com/channel/UCgGlTpwB-8elOoE1r0J4NsA" target="to_twitter"><img
            src="/src/img/character/cott/YouTube_kouwtkz_200px.png" alt="youtube" /></a>
</div>
<div class="otherlink">
    <a href="https://profcard.info/u/pDhgEp830aSIb2xRkchN3p1CtsW2" target="to_profcard">プロフカード</a>
</div>