body {
    background-color: wheat;
}
div.main {
    margin: 20px 0;
    text-align: center;
}
div.main > * {
    display: block;
}
div.mylink {
    display: flex;
    justify-content: space-evenly;
}
div.mylink a {
    text-decoration: none;
    background-color: #90a574;
    color: #f9fbf4;
    border-radius: 10px;
    margin: 4px;
    padding: 8px 16px;
}
h1 {
    
font-size: 26px;
}