body {
    background-color: wheat;
}
h1 {
    margin: 30px auto;
}
.top_logo {
    height: 70px;
}
div.main {
    margin: 20px 0;
    text-align: center;
}
div.main > * {
    display: block;
}
div.mylink {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
    margin: 50px auto;
}
.otherlink {
    margin: 72px auto;
text-align: left;width: auto;max-width: 400px;}
.otherlink a {
    background-color: #90a574;
    color: #f9fbf4;
    border-radius: 0px 10px 10px 0px;
    margin: 4px;
    padding: 10px 30px;
    font-size: 24px;
border-left: solid 10px #79905c;}
div a {
    text-decoration: none;
}
div.mylink a {
    border-radius: 200px;
    background: white;
    border: solid white 6px;
}
div.mylink img {
    border-radius: 200px;
    width: auto;
    max-width: 20vw;
}
h1 {
    font-size: 26px;
}
div.gallery ul {
    max-width: 1000px;
    margin: 50px auto;
}
div.gallery li {
    display: inline-block;
    width: 200px;
    min-height: 150px;
}
