<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta property="og:title" content="{{ page.title }} | {{ site.name }}" />
  <title>{{ page.title }} | {{ site.name }}</title>
  <link rel="stylesheet" href="/assets/css/reset.css" type="text/css">
  <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="/assets/img/favicon/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" href="/assets/img/favicon/favicon-152.png" />
  <style>
  </style>
</head>
<body>
{{ content }}
</body>
</html>